$font-family-roboto: "Roboto", sans-serif;
$primary-font-color: #222222;
$base-font-size: 1rem;
$accent-font: normal bolder 1.2rem/1.5 "Roboto", sans-serif;
$large-font: normal bold 2rem/1.5 "Roboto", sans-serif;
$primary-color: #f75c49;
$secondary-color: #767676;
$secondary-hover-color: #434343;
$table-grey-color: #f9f5f9;
$navigation-hovered-color: #cc4836;
