.favorites-slider {
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between;
    align-items: center;

    &-grid {
        display: flex;
        flex-grow: 1;
        gap: 4rem;
        overflow-x: auto;
    }
}

.arrow {
    opacity: 0.5;

    &:hover {
        opacity: 1;
        transition: 0.2s;
    }
}
