.teachers-filters {
    display: flex;
    justify-self: start;
    flex-wrap: wrap;
    width: 100%;
}

.teacher-filter {
    display: flex;
    align-items: center;
    padding: 2px 0;
    margin-bottom: 60px;

    label {
        color: $secondary-color;
        font-size: 15px;

        &:hover {
            color: $secondary-hover-color;
        }
    }

    select {
        margin: 0 0 0 15px;
        padding: 10px;
        border: 1px solid $secondary-color;
        border-radius: 2px;
        font-size: 15px;
    }

    input {
        margin-right: 7px;
    }
}

.teacher-filter:not(:last-child) {
    border-right: 1px dashed $secondary-color;
    padding-right: 20px;
}

.teacher-filter:not(:first-child) {
    margin-left: 20px;
}

.teachers-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-column-gap: 50px;
    grid-row-gap: 40px;
    justify-items: center;
    justify-content: center;
    align-items: center;
}

.teacher-card {
    text-align: center;
    position: relative;
    width: 150px;

    &-photo {
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 150px;
        border: 4px solid #f99589;
        margin-bottom: 25px;
        overflow: hidden;
        transition: 0.3s;

        img {
            object-fit: cover;
            width: 100%;
            height: 100%;
            transition: 0.3s;
        }

        div {
            display: flex;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-items: center;
            font: $large-font;
            color: #f87c6e;
            transition: 0.3s;
        }
    }

    :hover {
        cursor: pointer;
    }

    &-photo:hover {
        border-color: $primary-color;

        img {
            transform: scale(1.2);
        }

        div {
            color: $primary-color;
            transform: scale(1.2);
        }
    }

    &-initials {
        box-sizing: border-box;
        width: 150px;
        height: 150px;
        border-radius: 150px;
        border: 4px solid #f99589;
        margin-bottom: 25px;
        display: flex;
        align-items: center;
        justify-content: center;

        p {
            font-size: 30px;
            font-weight: 600;
            color: $primary-color;
        }
    }

    &-initials:hover {
        border: 4px solid $primary-color;
        transition: 0.3s;

        p {
            font-size: 36px;
            transition: 0.3s;
        }
    }

    &-star {
        position: absolute;
        right: -5px;
        top: 11px;
        width: 30px;
        height: 30px;
    }

    &-full-name {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 15px;
    }

    &-speciality {
        font-size: 14px;
        font-weight: 400;
        color: $secondary-color;
        margin-bottom: 10px;
    }

    &-country {
        font-size: 14px;
        font-weight: 400;
    }
}
