@import "variables";
@import "mixins";
@import "header";
@import "top-teachers";
@import "statistics";
@import "favorites";
@import "about";
@import "popup";

body {
    margin: 0 auto;
    max-width: 1200px;
    padding: 0 30px;
    box-shadow: 0 0 25px hsl(0deg 0% 0% / 0.1);
    font-family: $font-family-roboto;
    line-height: 1.6;
    color: $primary-font-color;
}

h2 {
    font-size: 36px;
    color: $primary-font-color;
    font-weight: 700;
}

p {
    font-size: 16px;
}

.container {
    max-width: 1000px;
    margin: 0 auto;

    &-favorites {
        margin: 0;
    }
}

.section {
    padding: 40px 0 60px 0;
    text-align: center;
}

.section {
    h2 {
        padding: 0 0 40px;
    }
}

.section::before {
    content: "";
    width: 500px;
    height: 1px;
    background: #000;
    position: absolute;
    margin-top: -40px;
    margin-left: -250px;
}

.btn {
    font: $accent-font;
    width: 170px;
    height: 55px;
    border-radius: 0px;
    background-color: #fff;
    border: 1px solid $primary-color;
    margin: 0;
    padding: 5px 15px;
    color: $primary-color;
    transition: 0.2s;
}

.btn:hover {
    background-color: $primary-color;
    color: #fff;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px 0 30px 0;
}

/* Media queries */

@media screen and (max-width: 1200px) {
    body {
        width: 100%;
        box-shadow: none;
    }

    .container {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 950px) {
    .teacher-info-popup-content {
        width: 100%;
    }
}

@media screen and (max-width: 820px) {
    .logo-section {
        text-align: center;
        height: auto;
        display: block;
        padding-bottom: 30px;
    }

    .logo-switch-container {
        float: none;
        display: block;
        margin-bottom: 20px;
    }

    .header-search-block {
        float: none;
        display: block;
    }

    .nav-section {
        flex-direction: column;
        align-items: center;
    }

    .nav-list {
        margin-bottom: 20px;
    }

    footer {
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}

@media screen and (max-width: 560px) {
    .add-teacher-popup-content {
        width: 100%;
    }
}

@media screen and (max-height: 890px) {
    .add-teacher-popup-content {
        height: 100%;
        overflow-y: scroll;
    }
}

@media screen and (max-height: 570px) {
    .teacher-info-popup-content {
        height: 100%;
        overflow-y: scroll;
    }
}
